streamlit==1.54.0
openai==2.26.0
openai-agents==0.10.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.22
langchain==1.2.10
langchain-core==1.2.18
langchain-openai==1.1.11
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.10
